body,
html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #222;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.form_input {
  padding: 0 10px;
  margin: 0;
  border: 0;
  outline: 0;
  display: block;
  box-sizing: border-box;
  line-height: 30px;
  height: 30px;
  font-size: 20px;
  color: #222;
  background-color: #eee;
}
.form_input::placeholder {
  color: #a2a2a2;
}
.form_inputWrapper {
  padding: 5px 0 5px 5px;
  background-color: #ff8c00;
}
.form_button {
  padding: 0 15px 0 20px;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  height: 40px;
  background-color: #ff8c00;
  color: #eee;
  font-size: 20px;
  cursor: pointer;
  position: relative;
}
.form_button:hover {
  background-color: #ffa500;
}
.form_button:hover::after,
.form_button:hover::before {
  background-color: #ffa500;
}
.form_button::after,
.form_button::before {
  display: block;
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-color: #ff8c00;
  right: -10px;
}
.form_button::after {
  bottom: 0;
  transform: skew(-30deg);
}
.form_button::before {
  top: 0;
  transform: skew(30deg);
}
.footer {
  display: flex;
  justify-content: center;
}
.footer_logo {
  display: block;
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
  background-image: url("logo.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}
.footer_logo:hover {
  background-position: 0 -64px;
  opacity: 1;
}
.header {
  margin: 20px 20px 0;
  display: flex;
  flex-direction: row;
}
.header_title {
  color: #eee;
}
.menu {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
  white-space: nowrap;
}
.menu_item {
  color: #eee;
  display: inline-block;
}
.menu_item:not(:first-child) {
  margin-left: 30px;
}
.menu_paragraph {
  padding: 0;
  margin: 0;
}
.menu_paragraph:first-letter {
  color: #ff8c00;
}
.menu_link {
  color: #eee;
  text-decoration: none;
}
.menu_counter {
  margin-left: 5px;
  color: #a2a2a2;
}
