doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title Lesson A
        link(rel='stylesheet' href='index.css')
    body
        .header
            .header_title Hello, World!
            ul.menu
                li.menu_item
                    p.menu_paragraph Lorem
                li.menu_item
                    p.menu_paragraph
                        a.menu_link(href="#") Ipsum
                            span.menu_counter 42

                li.menu_item
                    p.menu_paragraph Parabellum
        .content
            .form
                .form_inputWrapper
                    input.form_input(type="text", placeholder="Что искать?")
                .form_buttonWrapper
                    button.form_button Поехали!
        .footer
            a.footer_logo(href="#")

