$colorBackground = #222
$colorForeground = #eee
$colorTheme = darkorange
$colorAccent = orange


body
html
  width 100%
  height 100%
  padding 0
  margin 0
  border 0
  background-color $colorBackground

body
  display flex
  flex-direction column

.content
  flex 1
  display flex
  justify-content center
  align-items center

.form
  display flex
  flex-direction row
  flex-wrap nowrap

  &_input
    padding 0 10px
    margin 0
    border 0
    outline 0
    display block
    box-sizing border-box
    line-height 30px
    height 30px
    font-size 20px
    color $colorBackground
    background-color $colorForeground

    &::placeholder
      color lighten($colorBackground, 50)

    &Wrapper
      padding 5px 0 5px 5px
      background-color $colorTheme

  &_button
    padding 0 15px 0 20px
    margin 0
    border 0
    box-sizing border-box
    outline 0
    height 40px
    background-color $colorTheme
    color $colorForeground
    font-size 20px
    cursor pointer
    position relative

    &:hover
      background-color $colorAccent

      &::after
      &::before
        background-color $colorAccent

    &::after
    &::before
      display block
      position absolute
      content ''
      width 20px
      height 20px
      background-color darkorange
      right -10px

    &::after
      bottom 0
      transform skew(-30deg)

    &::before
      top 0
      transform skew(30deg)


.footer
  display flex
  justify-content center

  &_logo
    display block
    width 64px
    height 64px
    margin-bottom 20px
    background-image url("logo.png")
    background-repeat no-repeat
    background-position 0 0
    opacity .5

    &:hover
      background-position 0 -64px
      opacity 1


.header
  margin 20px 20px 0
  display flex
  flex-direction row

  &_title
    color $colorForeground

.menu
  flex 1
  list-style none
  padding 0
  margin 0
  text-align right
  white-space nowrap

  &_item
    color $colorForeground
    display inline-block

    &:not(:first-child)
      margin-left 30px

  &_paragraph
    padding 0
    margin 0

    &:first-letter
      color $colorTheme

  &_link
    color $colorForeground
    text-decoration none

  &_counter
    margin-left 5px
    color darken($colorForeground, 30)

